.hookform-label {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-sm);
  color: #242424;
}

.hookform-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.hookform-item-rtl {
  align-items: end;
}

.hookform-error {
  color: var(--error-500);
  font-size: var(--font-size-xs);
  padding: 4px 2px;
  font-weight: var(--font-weight);
}

.hookform-controll-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin-bottom: 18px;
}
