:root {
  --primary-100: #b2dfdb;
  --primary-200: #80cbc4;
  --primary-300: #4db6ac;
  --primary-400: #26a69a;
  --primary-500: #00897b; /* Base */
  --primary-600: #00796b;
  --primary-700: #00695c;
  --primary-800: #004d40;

  --primary-base-contrast: #ffffff;

  --secondary-100: #cfd8dc;
  --secondary-200: #b0bec5;
  --secondary-300: #90a4ae;
  --secondary-400: #78909c;
  --secondary-500: #607d8b; /* Base */
  --secondary-600: #546e7a;
  --secondary-700: #455a64;
  --secondary-800: #37474f;

  --secondary-base-contrast: #ffffff;

  --error-100: #f8d7da;
  --error-200: #f1aeb5;
  --error-300: #ea868f;
  --error-400: #e35d6a;
  --error-500: #dc3545; /* Base */
  --error-600: #bb2d3b;
  --error-700: #a71d2a;
  --error-800: #7f1320;

  --error-base-contrast: #ffffff;

  --warn-100: #fff3cd;
  --warn-200: #ffe69c;
  --warn-300: #ffd666;
  --warn-400: #ffc107;
  --warn-500: #ffae00; /* Base */
  --warn-600: #e69500;
  --warn-700: #cc7a00;
  --warn-800: #b36200;

  --warn-base-contrast: #242424;

  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd; /* Base neutral gray */
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;

  --gray-base-contrast: #242424;

  --disabled-bg-color: var(--gray-100);
  --disable-checkbox-color: var(--gray-600);
  --disabled-text-color: var(--gray-700);
  --border-color: var(--gray-500);
  --border-color-dark: var(--gray-600);

  --modal-box-shadow: 0 0 32px 1px var(--gray-600);
  --modal-padding: 14px;
  --modal-radius: 12px;

  --input-focus-color: #00796b29;
  --input-focus-color-error: #dc354627;
  --input-focus-highlight: 0 0 2px 2px var(--input-focus-color);
  --input-focus-highlight-error: 0 0 2px 2px var(--input-focus-color-error);
  --input-focus-transition: box-shadow 0.2s ease;

  --border-radius-xs: 2px;
  --border-radius-sm: 4px;
  --border-radius: 6px;
  --border-radius-lg: 8px;
  --border-radius-xl: 12px;

  --font-size-sm: 14px;
  --font-size-xs: 12px;
  --font-size: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 22px;

  --font-weight: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --height-sm: 24px;
  --height-md: 30px;
  --height-lg: 36px;

  --checkbox-dim-sm: 12px;
  --checkbox-dim-md: 18px;
  --checkbox-dim-lg: 24px;

  --radioinput-dim-sm: 16px;
  --radioinput-dim-md: 20px;
  --radioinput-dim-lg: 25px;
}
